.menu {
    height: 100px;
    background-color: #B2D6FF;    /* Medium blue */
}

.sidebar {
    height: 300px;
    background-color: #F09A9D;    /* Red */
}

.content {
    height: 500px;
    background-color: #F5CF8E;    /* Yellow */
}

.footer {
    height: 200px;
    background-color: #D6E9FE;    /* Light blue */
}

.button_question {
    width: 110px;
    height: 60px;
    border-radius: 90%;}

p.ex4 {

    display: inline-block;

}
p.space {display: block;}
.inline{display:inline}

.border-question
{

    padding: 1em;
    border-style:solid;

    border-color:#287EC7;
}

.flex-contianer {
    display: flex;
    justify-content: space-between;
    height: 200px;
    border: 1px;
}

.current_question_border {
    border: 5px solid blue;
    outline: 5px solid red;
    width: 110px;
    height: 60px;
}

