.menu {
    height: 100px;
    background-color: #B2D6FF;    /* Medium blue */
}

.sidebar {
    height: 270px;
    background-color: #F09A9D;    /* Red */
}

.content {
    height: 300px;
    background-color: #D6E9FE;   /* Yellow */
}

.footer {
    height: 150px;
    background-color: #D6E9FE;    /* Light blue */
}

.button_question {
    width: 110px;
    height: 60px;
    border-radius: 90%;}

p.ex4 {

    display: inline-block;

}
p.space {display: block;}
.inline{display:inline}

.border-question
{

    padding: 1em;
    border-style:solid;

    border-color:#287EC7;
}

.flex-contianer {
    display: flex;
    justify-content: space-between;
    height: 150px;
    border: 1px;
}

.current_question_border {

    outline: 5px solid red;
    width: 110px;
    font-size: 350%;
    text-align: center;
    position: relative
}

.clock {
    border-radius: 50%;
    background: #fff url('images/ios_clock.svg') no-repeat center;

    height: 10%;
    padding-bottom: 5%;
    position: relative;
    width: 10em;
}

.clock.simple:after {
    background: #000;
    border-radius: 20%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
    z-index: 10;
}
@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}
 .seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
     animation: rotate 60s infinite linear;
}

.seconds {
    background: #000;
    height: 45%;
    left: 49.5%;
    position: absolute;
    top: 14%;
    transform-origin: 50% 80%;
    width: 1%;
    z-index: 8;
}

#column1 {
    float: left;
    width: 12%;
}

#column2 {
    float: right;
    width: 88%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#Home {
    color: black;
    background-color: green;
    display: block;
    margin: 0 auto;
    font-size: 100%;
}


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.full_clock{
    border: 1px solid #ccc;
    font-family: "Times New Roman", Times, serif;

width: 50%;
}
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}