/* 
Colors I used:
RGB 213, 0, 50 - UIC RED
RGB 0, 181, 226 - UIC CYAN
RGB 0, 30, 98 - UIC NAVY-BLUE
*/

button {
  background-color: rgb(0, 30, 98);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%; /* This is here since it doesn't seem to work in test_button */
}

#test_button {
  width: 100%; /* This doesn't work for some reason */
  margin: 10px;
}


button:hover {
  background-color: rgb(42, 91, 206);
}

body {
  margin: auto;
  width: 50%;
  padding: 10px;
  top: 50%;
}

#intro {
  font-family: Arial;
  font-size: 64px;
  text-align: center;
}