/* 
Some color references:
RGB 213, 0, 50 - UIC RED
RGB 0, 181, 226 - UIC CYAN
RGB 0, 30, 98 - UIC NAVY-BLUE
*/
#main1 {
  text-align: center;
}

button {
  background-color: rgb(0, 30, 98);
  color: white;
  border: none;
  padding: 16px 32px;
  margin-top:10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  max-width: 700px;
}

#english_button {
  background: rgb(0, 97, 44)
}
#english_button:hover {
  background: rgb(0, 173, 78)
}

#reading_button {
  background: rgb(126, 0, 0)
}
#reading_button:hover {
  background: rgb(214, 39, 39)
}

#math_button {
  background: rgb(0, 30, 98)
}
#math_button:hover {
  background: rgb(23, 79, 209)
}

#science_button {
  background: rgb(100, 102, 0)
}
#science_button:hover {
  background: rgb(216, 196, 19)
}

#full_test_button {
  background: rgb(68, 0, 77)
}
#full_test_button:hover {
  background: rgb(158, 0, 179)
}

#test_button {
  margin: 10px;
}

body {
}

#instruction {
  font-family: Arial;
  font-size: 32px;
  text-align: center;
}

.spacer{
  height: 10px
}